.contenedor-usuario{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border: 4px solid rgb(180, 153, 218) ;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.contenedor-usuario img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.596);
}